body{
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background: #212224 no-repeat;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
}
